* {
  box-sizing: border-box;
  height: fit-content;
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}
.container {
  margin: 70px auto;
  border: 3px solid black;
  box-shadow: 5px 5px 10px black;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("arena.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 70vw;
  height: 80vh;
}
.ball {
  align-self: flex-end;
  display: inline-block;
  position: relative;
  animation-name: ball;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  width: 70px;
  height: 70px;
}
.ball img {
  display: inline-block;
}
@keyframes ball {
  5% {
    bottom: 50px;
  }
  10% {
    bottom: 150px;
  }
  15% {
    bottom: 300px;
  }
  20% {
    bottom: 400px;
  }
  25% {
    bottom: 450px;
  }
  30% {
    bottom: 450px;
  }
  35% {
    bottom: 400px;
  }
  40% {
    bottom: 300px;
  }
  45% {
    bottom: 0px;
  }
  50% {
    bottom: 100px;
  }
  55% {
    bottom: 200px;
  }
  60% {
    bottom: 0px;
  }
  65% {
    bottom: 50px;
  }
  70% {
    bottom: 100px;
  }
  75% {
    bottom: 0px;
  }
  80% {
    bottom: 25px;
  }
  85% {
    bottom: 50px;
  }
  90% {
    bottom: 0px;
  }
  95% {
    bottom: 25px;
  }
  100% {
    bottom: 0px;
  }
}
